@media (min-width: 835px) and (max-width: 1024px) {

    /* BANNER */

    .banner_content_text {
        width: auto;
    }

    /* PORTFOLIO */

    .portfolio_container {
        padding-top: 5.6875rem;
    }

    .portfolio_writing {
        gap: 1.125rem;
    }

    .portfolio_writing_paragraph {
        font-size: 16px;
    }

    .portfolio_writing_heading {
        font-size: 36px;
    }

    .card_image {
        width: 18.75rem;
    }

    /* ABOUT US */

    .goals {
        gap: 1.25rem;
        padding: 4.6875rem 0;
        border-top: .4rem solid #012531;
    }

    .goal {
        width: 18.75rem;
        min-height: 15.625rem;
        padding: .625rem;
    }

    .goal_heading {
        font-size: 20px;
    }

    .goal_paragraph {
        font-size: 12px;
    }

    .about {
        padding: 5.6875rem 0;
    }

    .about_heading {
        font-size: 36px;
    }

    .about_paragraph {
        font-size: 12px;
        width: 54rem;
    }

    .motivational_speech {
        padding-left: 2.5rem;
    }

    .motivational_speech_heading {
        font-size: 30px;
    }

    .motivational_speech_paragraph {
        font-size: 12px;
    }

    .motivational_speech_figure_desktop {
        width: 33.25rem;
        height: 28.4375rem;
    }

    /* FEEDBACK */

    .feedback_container {
        padding: 2.875rem 0;
    }

    .feedback_heading {
        font-size: 36px;
    }

    .feedback_comment_boxes {
        gap: 1.5625rem;
    }

    .comment_box {
        width: 18.75rem;
        height: 15rem;
    }

    .profile {
        top: -6.25rem;
        width: 12.5rem;
    }

    .comment {
        font-size: 14px;
        min-height: 15rem;
        padding: 7.5rem 2rem .91875rem;
    }

    /* CONTACT */

    .contact_container {
        padding: 6.25rem 5.0625rem;
    }

    .contact_query {
        width: 30.1875rem;
    }

    .contact_query_content {
        padding: 10.625rem 5rem 10.625rem 2.3125rem;
    }

    .contact_query_content_paragraph {
        font-size: 20px;
    }

    .contact_query_content_heading {
        font-size: 40px;
    }

    .contact_action {
        width: 23.25rem;
    }

    .contact_action_content {
        margin: 0 1.25rem;
        align-items: start;
    }

    .contact_action_content_heading {
        font-size: 20px;
    }

    .contact_action_content_paragraph {
        font-size: 12px;
    }

    /* FOOTER */

    .pre_footer {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .pre_footer_right {
        gap: 1.25rem;
    }

    .pre_footer_right_fastnavigation,
    .pre_footer_right_adress {
        gap: .6875rem;
    }

    .pre_footer_right_contact h3 {
        margin-bottom: .6875rem;
    }

    .pre_footer_right nav h3 {
        font-size: 16px;
    }

    .pre_footer_right nav a {
        font-size: 12px;
    }

    .footer {
        font-size: 12px;
        padding: 1.28125rem 0;
    }
}