.banner_container {
    background-color: #012531;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.125rem;
}

.banner_content_text {
    color: #F6F1E9;
    font-size: 20px;
    text-align: center;
    width: 28.125rem;
}

.banner_content_action {
    display: flex;
    gap: 1.5625rem;
    margin-top: .375rem;
}