@media (min-width: 835px) {
    .button:hover {
        font-size: 16px;
        transition: .5s;
    }

    .card_image:hover .card_hover {
        display: block;
        transition: .5s;
    }

    .goal:hover {
        cursor: default;
        opacity: 1;
        transition: .5s;

        .goal_heading {
            font-size: 28px;
            transition: .5s;
        }
    }

    .comment_box:hover .profile_hover {
        display: block;
        transition: .5s;
    }

    .contact_figure:hover {
        background-image: url('../../public/assets/contact/contact_maps.png');
        transition: .5s;
    }
}