@tailwind base;
@tailwind components;
@tailwind utilities;

@import './shared.scss';

@import '@/animations/Animations.module.scss';

@import '@/components/button/Button.module.scss';
@import '@/components/card/Card.module.scss';
@import '@/components/feedbackbox/FeedbackBox.module.scss';
@import '@/components/goal/Goal.module.scss';
@import '@/components/whatsappfloater/WhatsAppFloater.module.scss';

@import '@/layout/aboutus/AboutUs.module.scss';
@import '@/layout/banner/Banner.module.scss';
@import '@/layout/contact/Contact.module.scss';
@import '@/layout/feedback/Feedback.module.scss';
@import '@/layout/portfolio/Portfolio.module.scss';
@import '@/layout/footer/Footer.module.scss';

@import './config/IntervalFit.scss';
@import './config/Ipad.scss';
@import './config/Laptop.scss';
@import './config/LaptopLarge.scss';
@import './config/Mobile.scss';



* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: $secondary_color;
}