@media (min-width: 1000px) {

    .contact_maps:hover {
        opacity: 1;
        transition: .7s;
    }

    /* COMPONENTS */

    .button:hover {
        font-size: 16px;
        transition: .7s;
    }

    .profile_hover:hover {
        opacity: 1;
        transition: .7s;
    }
}

@media (min-width: 1300px) {

    /* COMPONENTS */

    .goal:hover {
        opacity: 1;
        transition: .7s;
    }

    .goal:hover .goal_heading {
        font-size: 28px;
        transition: .7s;
    }
}