.card_image {
    position: relative;
    width: 28.125rem;
    height: 27.375rem;
    border-radius: 10px;
}

.card_source {
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

.card_hover{
    opacity: 0;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
}