.goal {
    opacity: 0.8;
    background-color: $primary_color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    text-align: center;
    width: 31.25rem;
    min-height: 18.75rem;
    padding: 0 2.5rem;
    border-radius: 15px;
    cursor: default;
    transition: .7s;
}

.goal_heading {
    color: $secondary_color;
    font-size: 24px;
    font-weight: 500;
}

.goal_paragraph {
    color: $secondary_color;
    font-style: italic;
}   