.goals {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding: 6.25rem 0;
}

.about {
    background-color: #F6F1E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    text-align: center;
    padding: 7.15625rem 0;
}

.about_heading {
    color: #012531;
    font-size: 40px;
    font-weight: 500;
}

.about_paragraph {
    color: #012531;
    width: 64rem;
}

.motivational_speech {
    background-color: #012531;
    display: flex;
    padding-left: 8.3125rem;
}

.motivational_speech_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.1875rem;
}

.motivational_speech_heading {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
}

.motivational_speech_paragraph {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #FFFFFF;
    font-weight: 500;
    text-align: justify;
}

.motivational_speech_figure_desktop {
    background-position: right;
    background-size: cover;
    width: 66.25rem;
    height: 41.625rem;
}

.motivational_speech_figure_mobile {
    display: none;
    width: 100%;
}