.header_container {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6275rem 2.625rem;
    width: 100%;
}

.header_logo {
    height: 4.122rem;
    margin-left: 2.98rem;
    margin-right: 3.02rem;
}

.header_nav {
    display: flex;
    gap: 1.75rem;
}

.header_nav a {
    color: #F6F1E9;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.header_hamburguer {
    display: none;
}